<div class="div container pt-3">
  <div class="text-center raleway-italic">
    <nav class="navbar fixed-top bg-dark border-bottom border-body text-center" data-bs-theme="dark">
      <div class="container-fluid d-flex justify-content-center">
        <h1 class="navbar-brand " >Aplicacion de citas medicas</h1>
      </div>
    </nav>
  </div>
  <div class="row mt-5">
    <div class="col-lg-6 mt-5 ">
      <app-crear-citas></app-crear-citas>
    </div>
    <div class="col-lg-6 mt-5">
      <app-lista-citas></app-lista-citas>
    </div>
  </div>
</div>
